{% extends "appointments/layout.html" %}

{% block body %}
    <h1>
        Appointment Data:
    </h1>

    <ul>
        <li>Appointment ID: {{ appointment.identification }}</li>
        <li>Patient: {{ appointment.patient.name }} (Patient ID = {{ appointment.patient.id }}) <a class="pageLinks" style="margin-left: 10px;" href="{% url 'patient' appointment.patient.id %}">View patient details ></a></li> 
        <li>Appointment Date: {{ appointment.date }}</li>
        <li>Department: {{ appointment.department }}</li>
    </ul>

    <a href = "{% url 'index' %}" class="pageLinks">Back to Appointment List</a>
{% endblock %}