
{% extends "appointments/layout.html" %}

{% block body %}
    <h1>Appointments:</h1>
    {% if not appointments %}
        <h2 class="textMessage">No appointments to show. Try adding one below</h2>
    {% else %}
        <table style="width: 90%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th> 
                    <th>PatientID</th>
                    <th>Department</th>
                    <th>Date</th>
                    <th></th>
                    <th>Complete</th>
                    
                </tr>
            </thead>

            <tbody >
                {% for appointment in appointments %}
                    <tr>
                        <td>
                            <a href="{% url 'patient' appointment.patient.id %}">
                                {{appointment.patient.name}}
                            </a>
                        </td>

                        <td>
                            <a href="{% url 'patient' appointment.patient.id %}">
                                {{appointment.patient.id}}  
                            </a>
                        </td>

                        <td>
                            <a href="{% url 'departments' %}">
                                {{appointment.department}}
                            </a>
                        </td>

                        <td>
                            <a href="{% url 'appointment' appointment.id %}">
                                {{appointment.date}}
                            </a>
                        </td>   
                        
                        <td>
                            <a href="{% url 'appointment' appointment.id %}">
                                View appointment
                            </a>
                        </td>  

                        <td>
                            <form action="{% url 'removeAppointment' %}" method="post">
                                {% csrf_token %}
                                <input type="checkbox" id="appointmentComplete" name="appointmentComplete" value="{{ appointment.id }}" onChange="this.form.submit()" style="width: 40px;">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <hr>

    <h2>Add an appointment:</h2>

    <form action="{% url 'addAppointment' %}" method="post">
        {% csrf_token %}
        <div class="addForm">
            <select name="patient" required>
                <option value="" disabled selected hidden>Patient Name</option>
                {% for patient in patients %}
                    <option value="{{ patient.id }}">{{ patient }}</option>
                {% endfor %}
            </select>
            <a href="{% url 'appointmentIndex' %}" class="pageLinks">Add/Change patients</a>
        </div>
        <div class="addForm">
            <select name="department" required>
                    <option value="" disabled selected hidden>Department</option>
                    {% for department in departments %}
                        <option value="{{ department.id }}">{{ department }}</option>
                    {% endfor %}
            </select>
            <a href="departments" class="pageLinks">Add/Change departments</a>
        </div>
        <div class="addForm">
            <input type="date" name="date" required>
        </div>
        <div class="addForm">
            <input type="submit" class="submitButton">
        </div>
    </form>
{% endblock %}


