{% extends 'users/layoutMenu.html' %}

{% load static %}

{% block body %}
    <h1>About</h1>

    <hr>


    
    <div style="display: inline-block; margin-bottom: 40px;">
            <h2></h2>
            <h2>The story:</h2>
            <div class="textMessage">
                The idea for Paegex came about when I was<br>
                tasked with finding a patient management software<br>
                my mother could implement in her clinic.<br>
                I experimented using various different software, <br>
                but none of them seemed to fit.<br> 
                They weren't very user-friendly and,<br>
                many of them, too complex.<br>
                It was then that I decided to create<br>
                a patient management system of my own,<br>
                one with a simplified interface,<br>
                one which is easy to use, and most importantly,<br>
                one which is secure.<br>And so, Paegex was born.
            </div>
            <h4 style="margin-left: 40px;">Designed and Created by Abdullah Ahmed</h4>

        </div>
    
    </div>


{% endblock %}