{% extends 'users/layoutMenu.html' %}

{% load static %}

{% block body %}
    <div class="home-grid">
        <div class="home-content">
            <h1>Patient Management <br> Made Easy And Secure </h1> 
            <li>Effective management. Without the fuss.</li>
            <li>Secure database storage.</li>
            <li>Accessible from anywhere, anytime.</li>
            {% if not user.is_authenticated %}
                <a href="{% url 'loginPage' %}">
                    <button class="loginButton" style="height: 70px; font-weight: bold; font-size: 30px; margin-left: 60px; margin-bottom: 60px;">Get started now</button>
                </a>
            {% endif %}
        </div> 
        <img src="{% static '/logos.svg' %}" class="home-image">
     </div>
    
    <div class="home-message">
        <div style="margin:auto;">Have questions? Send us an email at paegexteam@gmail.com</div>
    </div>
   
{% endblock %}

