{% extends "users/layout.html" %}

{% block body %}
    <div>
        {% if page == 'login' %}
        <h1>
            Login
        </h1>
            <form method='post' class="loginForm">
                {% csrf_token %}
                <div>
                    <label>Username</label>
                    <div class="innerLoginContainer">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div>
                    <label>Password</label>
                    <div class="innerLoginContainer">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            <div class="errorMessage">
                                <span class="loginError">{{ message }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="buttonContainer">
                    <button class="loginButton" type="submit">Submit</button>
                </div>
                <div class="buttonContainer" style="width: 500px;">
                    <p>Don't have an account?  <a href="{% url 'register' %}">Register</a></p>
                </div>
            </form>
        {% else %}
        <h1>
            Register
        </h1>
            <form method='post'>
                {% csrf_token %}
                {% for field in form %}
                <div>
                    <label>{{field.label}}</label>
                    <div class="innerLoginContainer">
                        {{field}}
                    </div>
                </div>
                {% endfor %}
                {% if form.errors %}
                    <div>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <div class="errorMessage">
                                    <span class="loginError">{{ error }}</span>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="buttonContainer">
                    <button class="loginButton" type="submit">Submit</button>
                </div>
                <div class="buttonContainer" style="width: 500px;">
                    <p>Already have an account?  <a href="{% url 'loginPage' %}">Login</a></p>
                </div>
            </form>

        {% endif %}
    </div>
{% endblock %}