<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">

<html lang="en">
    <head>
        <title>Patients</title>
    </head>

    <body>
    <header>
        <div class="container">
            <img src="/static/Paegex.svg" class="logo" style="width: 90px;"/>

            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'index' %}">Appointments</a></li>
                    <li><a href="{% url 'appointmentIndex' %}">Patients</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'logoutPage' %}">Logout</a></li>  
                </ul>
            </nav>
        </div>
    </header>  
        {% block body %}
        {% endblock %}
    </body>
</html>